<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Icon-button with menu icon"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>

<mat-drawer-container class="body-container" autosize hasBackdrop="true">
  <mat-drawer #drawer class="sidenav-menu" mode="side">
    <h3 i18n><mat-icon>explore</mat-icon> Cursos útiles OpenWebinars:</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>flight_takeoff</mat-icon>
        <a
          href="https://openwebinars.net/academia/portada/angular/"
          target="_blank"
          i18n
        >
          Introducción a Angular</a
        >
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>tips_and_updates</mat-icon>
        <a
          href="https://openwebinars.net/academia/portada/angular-ampliar-conceptos/"
          target="_blank"
          i18n
        >
          Ampliando conceptos sobre Angular</a
        >
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>smartphone</mat-icon>
        <a
          href="https://openwebinars.net/academia/portada/angular-multiplataforma/"
          target="_blank"
          i18n
        >
          Angular en el mundo de la multiplataforma</a
        >
      </mat-list-item>
    </mat-list>
    <h3 i18n><mat-icon>info</mat-icon> Cursos/Talleres extra:</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>arrow_circle_up</mat-icon>
        <a
          href="https://openwebinars.net/academia/portada/nativescript-angular/"
          target="_blank"
          i18n
        >
          Curso: Desarrollo de apps con Nativescript</a
        >
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>arrow_circle_up</mat-icon>
        <a
          href="https://openwebinars.net/academia/portada/diseno-material-design-angular/"
          target="_blank"
          i18n
        >
          Taller: Diseño web con Material Design para Angular</a
        >
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>arrow_circle_up</mat-icon>
        <a
          href="https://openwebinars.net/academia/portada/crear-pwa-angular/"
          target="_blank"
          i18n
        >
          Taller: PWA en Angular</a
        >
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>arrow_circle_up</mat-icon>
        <a
          href="https://openwebinars.net/academia/portada/nativescript-uso-componentes/"
          target="_blank"
          i18n
        >
          Taller: Uso de componentes nativos en Nativescript</a
        >
      </mat-list-item>
    </mat-list>
    <h3 i18n><mat-icon>info</mat-icon> Documentación oficial:</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>description</mat-icon>
        <a href="https://angular.io/" target="_blank" i18n>Angular</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="sidenav-content">
    <main>
      <mat-card>
        <mat-card-title i18n>Factura compra</mat-card-title>
        <mat-card-subtitle i18n>Fecha y hora: {{ currentDate() | date }}</mat-card-subtitle>
        <img mat-card-image i18n-alt alt="Logo OpenWebinars sobre fondo oscuro" src="assets/img/openwebinars.jpg"/>
        <ng-container *ngIf="dataSource">
          <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                <td mat-footer-cell *matFooterCellDef i18n> Total </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef i18n> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef i18n> Precio </th>
                <td mat-cell *matCellDef="let element"> {{ element.price | i28nCurrency }} </td>
                <td mat-footer-cell *matFooterCellDef> {{ getAmount() | i28nCurrency }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </mat-card-content>
        </ng-container>
        <mat-card-actions align="end">
          <button mat-raised-button i18n>Cancelar</button>
          <button mat-raised-button color="primary" i18n>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </main>
  </div>
</mat-drawer-container>
